<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>      
    <body>
        <%= locals.welcome %>
        <a href="/new">Post a new message</a>
        <%- include('messages', {messages: messages}) %> 
    </body>
</html>
