<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>      
    <body>
        <%= locals.welcome %>
        <%- include('messages', {messages: messages}) %> 
    </body>
</html>
